/.gradle/
/.idea/*.xml
/.idea/caches/
/.idea/dictionaries/
/.idea/libraries/
/.gocache
/captures/
/local.properties
.DS_Store
.cxx/
Thumbs.db
build/
*.apk
*.class
*.dex
*.iml
*.jks
gradlew.bat
maint/
ui/release
.kotlin
.idea
.gradle-user-home
*.log
.gocache
